/*****
* winfflow.rc: resource description for winfflow
* 
* This File Version:	$Revision: 1.2 $
*
* Creation Date:	08-08-1996
* Last Modification:	$Date: 1996/08/27 19:29:59 $
*
* Author:		Koen
* (C)1995-1996 Ripley Software Development
* All Rights Reserved
*****/
/*****
* $Header: /usr/local/rcs/ForUtil/winfflow/RCS/winfflow.rc,v 1.2 1996/08/27 19:29:59 koen Exp koen $
*****/

#include "resource.h"

winfflow DIALOG PRELOAD MOVEABLE DISCARDABLE 27, 55, 289, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS "winfflow"
CAPTION "Winfflow"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_MAIN_LISTBOX, 14, 24, 200, 104, LBS_STANDARD | LBS_WANTKEYBOARDINPUT | WS_HSCROLL | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Add", IDC_MAIN_ADD, 224, 24, 44, 14, WS_GROUP | WS_TABSTOP | BS_PUSHBUTTON
 PUSHBUTTON "&Edit", IDC_MAIN_EDIT, 225, 54, 44, 14, BS_PUSHBUTTON
 PUSHBUTTON "&Remove", IDC_MAIN_REMOVE, 225, 84, 44, 14, BS_PUSHBUTTON
 PUSHBUTTON "Re&move All", IDC_MAIN_REMOVE_ALL, 225, 114, 44, 14, BS_PUSHBUTTON
 PUSHBUTTON "&Scan", IDOK, 9, 144, 46, 14, WS_GROUP | WS_TABSTOP | BS_PUSHBUTTON
 PUSHBUTTON "Se&ttings", IDC_MAIN_SETTINGS, 65, 144, 46, 14, BS_PUSHBUTTON
 PUSHBUTTON "&Quit", IDCANCEL, 121, 144, 46, 14, BS_PUSHBUTTON
 PUSHBUTTON "&Help", IDHELP, 177, 144, 46, 14, BS_PUSHBUTTON
 PUSHBUTTON "A&bout", IDC_MAIN_ABOUT, 233, 144, 46, 14
 GROUPBOX "Files to Scan", -1, 8, 8, 272, 128, BS_GROUPBOX | WS_GROUP
 DEFPUSHBUTTON "DefBttn", IDC_DEFAULT_BUTTON, 58, 72, 50, 14, BS_DEFPUSHBUTTON | NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
}


WINFFLOW_OUTPUT_DIALOG DIALOG 51, 20, 207, 284
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Winfflow Output"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_OUTPUT_LISTBOX, 10, 84, 186, 160, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Close", IDOK, 12, 262, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Save", IDC_OUTPUT_SAVE, 78, 262, 50, 14
 PUSHBUTTON "&Edit", IDC_OUTPUT_EDIT, 144, 262, 50, 14
 LTEXT "File:", -1, 10, 21, 24, 8, WS_GROUP
 GROUPBOX "Routine Statistics", -1, 3, 8, 200, 60, BS_GROUPBOX
 GROUPBOX "Flowgraph", IDC_OUTPUT_GROUPBOX, 3, 72, 200, 180, BS_GROUPBOX
 RTEXT "c:/usr/src/test_fun/multiple/e3s01.f", IDC_OUTPUT_FILENAME, 38, 21, 158, 8, SS_RIGHT | NOT WS_GROUP
 LTEXT "Subroutine name:", IDC_OUTPUT_ROUTINE_TYPE, 10, 33, 58, 8, NOT WS_GROUP
 RTEXT "e3dmb", IDC_OUTPUT_ROUTINE_NAME, 75, 33, 122, 8, SS_RIGHT | NOT WS_GROUP
 LTEXT "Total Calls:", -1, 10, 45, 42, 8, NOT WS_GROUP
 LTEXT "999999", IDC_OUTPUT_TOTAL_CALLS, 55, 45, 32, 8, NOT WS_GROUP
 LTEXT "Resolved:", -1, 97, 45, 40, 8, NOT WS_GROUP
 LTEXT "999999", IDC_OUTPUT_RESOLVED, 141, 45, 32, 8, NOT WS_GROUP
 LTEXT "Unresolved:", -1, 96, 57, 42, 8, NOT WS_GROUP
 LTEXT "999999", IDC_OUTPUT_UNRESOLVED, 141, 57, 32, 8, NOT WS_GROUP
 DEFPUSHBUTTON "DefBttn", IDC_DEFAULT_BUTTON, 72, 172, 50, 14, BS_DEFPUSHBUTTON | NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
}


WINFFLOW_GENERATING_DIALOG DIALOG 100, 81, 155, 86
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Scanning Files"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "Stop", IDCANCEL, 53, 65, 50, 14
 LTEXT "e3s01.f", IDC_GENERATING1, 58, 10, 66, 8
 CONTROL "", IDC_GENERATING2, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 13, 40, 128, 12
 LTEXT "0%", -1, 12, 25, 12, 8
 RTEXT "100%", -1, 116, 26, 25, 8
 CTEXT "50%", -1, 67, 25, 20, 8
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 9, 36, 136, 20
 LTEXT "Current File:", -1, 12, 10, 42, 8
}

WINFFLOW_OUTPUTSELECTOR_DIALOG DIALOG 31, 25, 274, 171
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Winfflow Output Selector"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Select File", -1, 8, 8, 160, 31, BS_GROUPBOX
 GROUPBOX "Flowgraph Options", -1, 8, 44, 160, 44, BS_GROUPBOX
 GROUPBOX "Select Routine Type", -1, 8, 92, 159, 44, BS_GROUPBOX
 GROUPBOX "Select Routine", -1, 172, 8, 96, 128, BS_GROUPBOX
 COMBOBOX IDC_SELECTOR_COMBOBOX, 16, 20, 144, 56, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 CONTROL "C&ollapse Consecutive", IDC_SELECTOR_COLLAPSE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 56, 80, 10
 CONTROL "Hide &Unresolved", IDC_SELECTOR_HIDE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 56, 64, 10
 CONTROL "Cutoff &depth:", IDC_SELECTOR_CUTOFF, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 72, 52, 10
 CONTROL "Hide &Resolved", IDC_SELECTOR_HIDE_KNOWN, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 72, 64, 10
 CONTROL "12", IDC_SELECTOR_CUTOFF_DEPTH, "EDIT", ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP, 72, 72, 16, 12
 CONTROL "&Subroutine", IDC_SELECTOR_SUBROUTINE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 104, 54, 10
 CONTROL "&Function", IDC_SELECTOR_FUNCTION, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 104, 46, 10
 CONTROL "Show U&nused Subroutines Only", IDC_SELECTOR_SHOW_UNUSED, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 120, 116, 10
 LISTBOX IDC_SELECTOR_LISTBOX, 180, 24, 80, 108, LBS_STANDARD | WS_HSCROLL | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Close", IDOK, 12, 148, 48, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "F&lowgraph", IDC_SELECTOR_VIEW, 80, 148, 48, 14
 PUSHBUTTON "R&eferences", IDC_SELECTOR_BROWSE, 148, 148, 48, 14
 PUSHBUTTON "&Help", IDHELP, 216, 148, 48, 14
 DEFPUSHBUTTON "DefBttn", IDC_DEFAULT_BUTTON, 190, 58, 50, 14, BS_DEFPUSHBUTTON | NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
}

VERSIONINFO_1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS_DOS_WINDOWS16
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Ripley Software Development\000\000"
   VALUE "FileDescription", "Fortran Flowgraph Generator. 16bit Version.\000"
   VALUE "FileVersion", "0.10\000\000"
   VALUE "InternalName", "fflow.l\000"
   VALUE "LegalCopyright", "Copyright © Ripley Software Development 1994,1995\000\000"
   VALUE "OriginalFilename", "winfflow.exe\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}

STRINGTABLE 
{
 IDS_FILTERSTRING, "Fortran Files (*.F;*.F77)|*.f;*.f77|All Files(*.*)|*.*|"
 IDS_FILTERSTRING1, "Winfflow Output Files (*.out)|*.out|All Files (*.*)|*.*|"
}

WINFFLOW_SETTINGS_DIALOG DIALOG 83, 54, 194, 205
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Winfflow Settings"
FONT 8, "MS Sans Serif"
{
 CONTROL "c:/usr/x31/notepad.exe @FILE -l @LINE", IDC_SETTINGS_EDITOR, "EDIT", ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP, 16, 20, 164, 12
 EDITTEXT IDC_SETTINGS_CUTOFF_DEPTH, 140, 54, 16, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
 EDITTEXT IDC_SETTINGS_MAX_DEPTH, 140, 72, 16, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
 CONTROL "Co&llapse Consecutive Calls to the same routine", IDC_SETTINGS_COLLAPSE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 88, 162, 10
 CONTROL "Hide &Unresolved Calls", IDC_SETTINGS_HIDE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 104, 98, 10
 CONTROL "&Allow Dynamic Update", IDC_SETTINGS_DYNAMIC, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 120, 98, 10
 CONTROL "&Save Filelist on exit", IDC_SETTINGS_SAVE_FILELIST, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 156, 106, 10
 PUSHBUTTON "&OK", IDOK, 12, 184, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Cancel", IDCANCEL, 72, 184, 50, 14
 PUSHBUTTON "&Help", IDHELP, 132, 184, 50, 14
 LTEXT "Default Flowgraph Cutoff Depth:", -1, 16, 56, 116, 8
 LTEXT "Maximum Allowable Flowgraph depth:", -1, 16, 72, 122, 8, NOT WS_GROUP
 GROUPBOX "Editor", -1, 8, 8, 177, 32, BS_GROUPBOX
 GROUPBOX "Flowgraph Defauts", -1, 8, 44, 177, 96, BS_GROUPBOX
 GROUPBOX "Autosave Options", -1, 8, 144, 176, 28, BS_GROUPBOX
 DEFPUSHBUTTON "DefBttn", IDC_DEFAULT_BUTTON, 128, 152, 50, 14, BS_DEFPUSHBUTTON | NOT WS_VISIBLE
}
winfflow ACCELERATORS 
{
 "s", IDOK, ASCII, ALT
 "t", IDC_MAIN_SETTINGS, ASCII, ALT
 "q", IDCANCEL, ASCII, ALT
 VK_F1, IDHELP, VIRTKEY
 "h", IDHELP, ASCII, ALT
 "a", IDC_MAIN_ADD, ASCII, ALT
 "e", IDC_MAIN_EDIT, ASCII, ALT
 "r", IDC_MAIN_REMOVE, ASCII, ALT
 "m", IDC_MAIN_REMOVE_ALL, ASCII, ALT
 "b", IDC_MAIN_ABOUT, ASCII, ALT
}

WINFFLOW_ICON_1 ICON 
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 10 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC FF CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC FC CF CC FC CF CC CC CC CC CC CC CC CC'
 'CC CC CC CF FC CC CF FC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC FF CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC FC CF CC FC CF CC CC CC CC CC'
 'CF FC CC CC CC CC CF FC CC CF FC CC CC CC CF CC'
 'FC CF CC FC CC CC CC CC CC CC CC CC CC CC CC FF'
 'CC CC FF CC CC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CF FC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CF CC FC CF CC FC CC CC CC CC CC CC CC CC CC'
 'CC CC FF CC CC FF CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC EE EE'
 'EE EE EE EE EE EE EE EE EE EE FF FE EE EE EE FF'
 '0E F0 FF 0F FF 00 00 EE EE 0F FF 0F FE EE EF FF'
 '0F F0 FF 0F F0 FE FF 0F FF 0F FF 0F FF EE FF FF'
 '0F F0 FF 0F F0 FF FF 0F E0 F0 F0 F0 FF FF EF FF'
 '0F F0 FF 0F F0 FF FF 0E F0 F0 F0 F0 FF BE EE FF'
 '0F F0 FF 0F F0 FF FF 0E F0 F0 F0 F0 FE EE EE EF'
 '0F F0 FF 0F F0 FF FE 0E 0F FF 0F FF 0E EE EE E0'
 '00 00 0F 0F FF 00 00 EE 0F FF 0F FE 0E EE EE EE'
 '0F F0 FF 0F FE FF EE EE EE EF FF EE EE EE EE EE'
 '0E F0 FF 0E EE EE EE EE EE EE FF EE EE EE EE EE'
 'E0 EF 0E 0E EE EE EE EE EE EE EE EE EE EE EE EE'
 'EE EE EE EE EE EE EE EE EE EE EE EE EE EE EE EE'
 'EE EE EE EE EE EE EE EE EE EE EE EE EE EE 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00'
}


WINFFLOW_ABOUT_DIALOG DIALOG 50, 22, 148, 168
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About Winfflow"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "OK", IDOK, 49, 144, 50, 14
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 8, 10, 132, 56
 CTEXT "Winfflow: a f77 flowgraph generator", -1, 12, 16, 124, 8
 CTEXT "Winfflow Version 0.12", -1, 12, 28, 124, 8
 CTEXT "Scanner Version 0.62", -1, 12, 40, 124, 8
 CTEXT "Winfflow is (C)Copyright 1995-1996 by", -1, 12, 80, 124, 8
 CTEXT "Ripley Software Development", -1, 12, 92, 124, 8
 CTEXT "email: ripley@xs4all.nl", -1, 12, 104, 124, 8
 CTEXT "http://www.xs4all.nl/~ripley", -1, 12, 116, 124, 8
 CTEXT "Written by: Koen D'Hondt", -1, 12, 52, 124, 8
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 8, 76, 132, 56
}


CURSOR_WAIT_1 CURSOR 
{
 '00 00 02 00 01 00 20 20 00 00 00 00 00 00 30 01'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
 '00 00 00 00 00 00 02 00 00 00 00 00 00 00 00 00'
 '00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 1F FC 00 00 00 00 00 00 0F'
 'F8 00 00 0F F8 00 00 0F F8 00 00 0F F8 00 00 0F'
 'F8 00 00 07 F0 00 00 03 E0 00 00 01 C0 00 00 00'
 '80 00 00 00 80 00 00 00 80 00 00 01 C0 00 00 03'
 '60 00 00 06 B0 00 00 0D 58 00 00 0A A8 00 00 05'
 '50 00 00 0A A8 00 00 05 50 00 00 00 00 00 00 1F'
 'FC 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF 80'
 '00 FF FF 80 00 FF FF 80 00 FF FF C0 01 FF FF C0'
 '01 FF FF C0 01 FF FF C0 01 FF FF C0 01 FF FF C0'
 '01 FF FF E0 03 FF FF F0 07 FF FF F8 0F FF FF FC'
 '1F FF FF FC 1F FF FF FC 1F FF FF F8 0F FF FF F0'
 '07 FF FF E0 03 FF FF C0 01 FF FF C0 01 FF FF C0'
 '01 FF FF C0 01 FF FF C0 01 FF FF C0 01 FF FF 80'
 '00 FF FF 80 00 FF FF 80 00 FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}


CURSOR_WAIT_2 CURSOR 
{
 '00 00 02 00 01 00 20 20 00 00 00 00 00 00 30 01'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
 '00 00 00 00 00 00 02 00 00 00 00 00 00 00 00 00'
 '00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 1F FC 00 00 00 00 00 00 0D'
 '58 00 00 0E B8 00 00 0F 78 00 00 0F F8 00 00 0F'
 '78 00 00 07 F0 00 00 03 60 00 00 01 C0 00 00 00'
 '80 00 00 00 80 00 00 00 80 00 00 01 C0 00 00 03'
 '60 00 00 06 B0 00 00 0D 58 00 00 0A A8 00 00 0D'
 '58 00 00 0F F8 00 00 0F F8 00 00 00 00 00 00 1F'
 'FC 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF 80'
 '00 FF FF 80 00 FF FF 80 00 FF FF C0 01 FF FF C0'
 '01 FF FF C0 01 FF FF C0 01 FF FF C0 01 FF FF C0'
 '01 FF FF E0 03 FF FF F0 07 FF FF F8 0F FF FF FC'
 '1F FF FF FC 1F FF FF FC 1F FF FF F8 0F FF FF F0'
 '07 FF FF E0 03 FF FF C0 01 FF FF C0 01 FF FF C0'
 '01 FF FF C0 01 FF FF C0 01 FF FF C0 01 FF FF 80'
 '00 FF FF 80 00 FF FF 80 00 FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}


CURSOR_WAIT_3 CURSOR 
{
 '00 00 02 00 01 00 20 20 00 00 00 00 00 00 30 01'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
 '00 00 00 00 00 00 02 00 00 00 00 00 00 00 00 00'
 '00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 1F FC 00 00 00 00 00 00 05'
 '50 00 00 0A A8 00 00 0D 58 00 00 0E B8 00 00 0F'
 '78 00 00 07 F0 00 00 03 60 00 00 01 C0 00 00 00'
 '80 00 00 00 80 00 00 00 80 00 00 01 C0 00 00 03'
 '60 00 00 06 B0 00 00 0F D8 00 00 0F F8 00 00 0F'
 'F8 00 00 0F F8 00 00 0F F8 00 00 00 00 00 00 1F'
 'FC 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF 80'
 '00 FF FF 80 00 FF FF 80 00 FF FF C0 01 FF FF C0'
 '01 FF FF C0 01 FF FF C0 01 FF FF C0 01 FF FF C0'
 '01 FF FF E0 03 FF FF F0 07 FF FF F8 0F FF FF FC'
 '1F FF FF FC 1F FF FF FC 1F FF FF F8 0F FF FF F0'
 '07 FF FF E0 03 FF FF C0 01 FF FF C0 01 FF FF C0'
 '01 FF FF C0 01 FF FF C0 01 FF FF C0 01 FF FF 80'
 '00 FF FF 80 00 FF FF 80 00 FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

